/* 안내멘트 */
h1 {
  text-align: center;
  margin-top: 50px;
}
h1 span:nth-child(1) {
  color: #ffaa28;
  font-family: "fun", serif;
  font-size: 70px;
}
h1 span:nth-child(2) {
  color: #6e6e6e;
  font-family: "fun", serif;
  font-size: 70px;
}

/* 영상- 화상회의 영상 */
#video {
  border: 5px solid #ffd258;
  border-radius: 10px;
  margin: 40px auto;
  box-sizing: content-box;
}

/* 회의 준비 완료 멘트 */
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: #505050;
}
/* 회의링크 */
h3 {
  color: #ffaa28;
  text-align: center;
  font-size: 25px;
}
/* 회의링크 */
.a {
  margin-right: 100px;
}
