<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회의록다운로드</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <!-- fontawsome 아이콘 링크연결 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- 공통css와 페이지css 연결 -->
    <link rel="stylesheet" href="/demos/css/common.css" />
    <link rel="stylesheet" href="/demos/css/6download.css" />
  </head>
  <body>
    <!-- 안내멘트 -->
    <h1>오늘의 회의는 어떠셨나요?</h1>
    <h2>
      AI로 분석한 오늘의 회의록을 참고하여<br />
      향상된 비즈니스를 경험해보세요:)<br />
      <br />
      <span style="color: red"
        >(다운로드 클릭 후 약간의 시간이 소요됩니다.<br />
        연속해서 클릭하지 말고 기다려주세요!)</span
      >
    </h2>

    <!-- pdf 다운로드 버튼 -->
    <div class="mt-5 container">
      <div class="button">
        <a href="<%= down_url %>" download
          ><div class="icon">
            <i class="fa fa-floppy-o"></i></div
        ></a>
      </div>
      <p>회의 요약본 PDF 다운로드</p>
      <p
        style="
          background-color: #ffaa28;
          color: white;
          padding: 5px;
          font-weight: bold;
        "
      >
        (아직 BETA 서비스 단계라 회의 시간이 너무 짧거나 및 발화 문장 수가 너무
        적으면 회의록 요약본 출력에 실패할 수 있습니다)
      </p>
    </div>
  </body>
</html>
